<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue.js Intro</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="calculator.js" defer></script>
</head>
<body>
  <div id="app">
    <p>{{ message }}</p>
    <div>1st number: <input v-model="number1" type="text"></div>
    <div>2nd number: <input v-model="number2" type="text"></div>
    <div>3rd number: <input v-model="number3" type="text"></div>
    <div><button v-on:click="computeSum()">Compute sum</button></div>
    <p>The sum is: {{sum}}</p>
  </div>
</body>
</html>